.main {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../pictures/nightsky.jpg') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .main-container {
        text-align: center;
        color: #fff;
        font-style: italic;
        font-weight: bold;
        h1 {
            font-size: 4rem;
            margin: 0;
            text-shadow: 3px 3px 3px darkblue;
        }
        p {
            font-size: 1.2rem;
            margin: 0;
            margin-top: 6px;
            text-shadow: 3px 3px 3px darkblue;
        }
    }
}