.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    .navbar-container {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .link-container {
            .link {
                padding: 10px;
                color: #fff;
                font-size: 1.5rem;
                &:hover {
                    cursor: pointer;
                    color: red;
                    border-bottom: 1px solid red;
                }
            }
        }
    }
}